<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="margin-bottom:10px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <button id="addRecord" class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: .5rem">Add Log</button>
            </li>
            <li>
                <button id="removeAllRecords" class="btn btn-outline-info my-2 my-sm-0">Remove All</button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="searchValue" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div id="filter"></div>
        </form>
    </div>
</nav>